.container-data-state {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: var(--Dark-blue);
  height: 80%;
}

.container-data-state h3 {
  grid-column: 1;
  grid-row: 1;
}

.container-data-state h2 {
  grid-column: 1;
  grid-row: 2;
}

.container-data-state img {
  grid-column: 5;
  grid-row: 1;
}

.container-data-state p {
  grid-column: 3 / 6;
  grid-row: 2;
}

.work {
  grid-area: work;
  border: solid orange;
}

.play {
  grid-area: play;
  border: solid blue;
}

.study {
  grid-area: study;
  border: solid palevioletred;
}

.exercise {
  grid-area: exercise;
  border: solid green;
}

.social {
  grid-area: social;
  border: solid blueviolet;
}

.self-care {
  grid-area: self-care;
  border: solid yellow;
}

.work,
.play,
.exercise,
.social,
.study,
.self-care {
  width: 100%;
  height: 150px;
}
