.container-main {
  grid-area: user;
  width: 100%;
  height: 12.5rem;
  max-width: 21rem;
  max-height: 12.563rem;
  background-color: var(--Dark-blue);
  border-radius: 0.625rem;

  @media screen and (min-width: 800px) {
    max-width: 32.75rem;
    max-height: 13.438rem;
  }
  @media screen and (min-width: 1180px) {
    max-width: 15.938rem;
    width: 15.938rem;
    height: 100%;
    max-height: 90%;
  }
}

.container-data-user {
  display: flex;
  border-radius: 0.625rem;
  gap: 1rem;
  width: 100%;
  height: 65%;
  align-items: center;
  justify-content: center;
  background-color: var(--Blue);
  & .image-profile {
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    border: 0.188rem solid #fff;
  }

  & .container-name p {
    font-weight: 300;
    font-size: 0.938rem;
  }

  & .container-name h3 {
    font-weight: 400;
  }
  @media screen and (min-width: 1180px) {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    justify-content: space-evenly;
    & .container-name h3 {
      font-weight: 300;
      font-size: 2.188rem;
      word-break: break-all;
      // border: solid red;
      width: 8.75rem;
      margin: 1rem 0;
    }
  }
}

.container-states {
  background-color: var(--Dark-blue);
  border-radius: 0.625rem;
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & .btn-state {
    border: 0 transparent;
    font-size: 0.938rem;
    background-color: transparent;
    color: var(--Pale-Blue);
    font-weight: 400;
    &:hover {
      color: #fff;
      cursor: pointer;
    }
    &.active {
      color: #fff;
    }
  }
  @media screen and (min-width: 1180px) {
    flex-direction: column;
    align-items: flex-start;
    & .btn-state {
      margin-left: 1rem;
      font-size: 1.125rem;
    }
  }
}
