.app {
  width: 100%;
  display: flex;
  justify-content: center;
}

.grid-container {
  width: 90%;
  margin: 1rem 0 3rem 0;
  //border: solid red;
  display: grid;
  grid-gap: 2rem;
  grid-template:
    "user" auto
    "work" auto
    "play" auto
    "study" auto
    "exercise" auto
    "social" auto
    "self-care" auto;
}
