.app {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.grid-container {
  width: 90%;
  margin: 1rem 0 3rem 0;
  grid-gap: 2rem;
  display: grid;
  grid-template:
    "user" auto
    "work" auto
    "play" auto
    "study" auto
    "exercise" auto
    "social" auto
    "self-care" auto;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .grid-container {
    grid-template:
      "user user" auto
      "work play" auto
      "study exercise" auto
      "social self-care" auto;
  }
}
@media screen and (min-width: 1180px) {
  .grid-container {
    margin: 1rem auto;
    grid-gap: 2rem;
    // border: solid red;
    grid-template:
      "user work play study" auto
      "user  exercise social self-care" auto;
  }
}
